.button {
  &.button-action {
    background: #5CB85C;
    border-color: #4CAE4C;
    color: #ffffff;
    font-weight: bold;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    &:hover {
      background: #449D44;
      border-color: #398439;
      color: #ffffff;
    }
  }

  &.button-danger {
    background: #D9534F;
    border-color: #D43F3A;
    color: #ffffff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    &:hover {
      background: #C9302C;
      border-color: #AC2925;
      color: #ffffff;
    }
  }

  &.button-warning {
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
    background: #F0AD4E;
    border-color: #EEA236;
    color: #ffffff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    &:hover {
      background: #EC971F;
      border-color: #D58512;
      color: #ffffff;
    }
  }
}

.import_progress {
  display: none;
  height: 40px;
}

.form-table {
  width: 35%;
}

.action-buttons {
  width: 100px;
}

.loading {
  width: 60%;
  margin: auto;
}

.form-table input {
  width: 100%;
}

.button-controls {
  margin-top: 100px;
}
